:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
}

/* Leaflet Map Styles */
.leaflet-container {
  background-color: #fff;
  outline: 0;
}

.leaflet-tile {
  filter: inherit;
  visibility: inherit;
}

.leaflet-marker-icon {
  background-color: transparent;
}
