body {
  background-color: #f3f4f6;
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}
